<div style="
  position: relative;
  background: linear-gradient(135deg, #1b2d1f 20%, #000000 40%, #1b2d1f 60%);
  padding: 10px 20px;
  border: 2px solid #8bf771;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(34,136,72,0.8);
  font-family: 'Lato', Arial, sans-serif;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
">

  <!-- === ЛЕВАЯ КОЛОНКА === -->
  <div style="display: flex; flex-direction: column; justify-content: space-around; gap: 4px; position: relative; z-index: 1;">
    <div style="
      font-size: 12px;
      text-transform: uppercase;
      letter-spacing: 1px;
      color: #8bf771;
    ">
      {{ env }} {{ instance | replace("-", " ") }}
    </div>
      <div style="font-size: 14px; color: orange;">
      Do not store productive data!
    </div>

    <div style="
      font-size: 8px;
      color: #8bf771;
    ">
      Data Set: «{{ banner_date }}»
    </div>
  </div>

  <!-- === СРЕДНЯЯ КОЛОНКА === -->

  <div style="display: flex; flex-direction: column; align-items: center; justify-content: center;">

    <div style="
      background: linear-gradient(90deg, rgba(34,136,72,0.4) 0%, rgba(139,247,113,0.25) 100%);
      border: 1px solid rgba(139,247,113,0.4);
      color: #8bf771;
      padding: 10px 18px;
      border-radius: 10px;
      font-weight: 500;
      backdrop-filter: blur(8px);
      -webkit-backdrop-filter: blur(8px);
      text-align: center;
      box-shadow: 0 0 12px rgba(34,136,72,0.5);
    ">
      {% if instance == "dedicated-itgm-jira" or instance == "mbb-jira" %}
      ⚠️ This system contains confidential data
      {% else %}
      ⚠️ This system contains test data
      {% endif %}
    </div>

  </div>

  <!-- === ПРАВАЯ КОЛОНКА === -->
  <div style="display: flex; flex-direction: column; align-items: end; justify-content: center;">
    <div style="white-space: nowrap;">
      <a href="https://{{ instance }}.{{ domain_root }}/" 
        target="_blank" 
        rel="noopener noreferrer" 
        style="
          background: #8bf771;
          color: #000000;
          text-decoration: none;
          font-weight: 700;
          border-radius: 50px;
          padding: 12px 26px;
          box-shadow: 0 0 18px #8bf77166;
          transition: box-shadow 0.3s ease;
          cursor: pointer;
        " 
        onmouseover="this.style.boxShadow='0 0 30px #8bf771aa'; this.querySelector('span').style.transform='translateX(6px)';"
        onmouseout="this.style.boxShadow='0 0 18px #8bf77166'; this.querySelector('span').style.transform='translateX(0)';
      ">
        To production <span style="display:inline-block; transition:transform 0.3s ease; font-size: 20px;">→</span>
      </a>
    </div>
  </div>
</div>