<!-- Message Banner -->
<div style="background-color: #FDD0A2; border: 2px solid #B61F34; padding: 2px; font-family: 'Lato'; font-weight: bold; font-size: 13px; text-align: left; color: #162259;">
Test environment: <a href="https://{{ jira_item }}.mercedes-benz.polygran.de/">{{ jira_item }}</a><br>
Data Set: {{ banner_date }}<br>
<font color="#B61F34">Do not store any productive data at this place</font>
</div>
