-- === Update Application Links for {{ jira_instance | default(instance) }} ===
-- This script replaces URLs inside propertystring.propertyvalue
-- for linked applications defined in `app_links`.

{% for link in app_links %}
-- {{ link }}
UPDATE propertystring
SET propertyvalue = '{{ jira_baseurl | regex_replace("/[^/]+$", "") }}/{{ env_prefix }}{{ link }}'
WHERE id = ANY (
  SELECT ps.id
  FROM propertystring ps
  INNER JOIN propertyentry pe ON ps.id = pe.id
  WHERE ps.propertyvalue LIKE '%{{ link }}.{{ domain_root }}%'
    AND pe.property_key LIKE '%app%'
);
{% endfor %}